{
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "esmodules": true
      }
    }],
    ["@babel/preset-stage-2", {
      "decoratorsLegacy": true
    }]
  ]
}