$line-height: 1.4em;
$padding-between-properties: 0.5em / 2; 
$color-punctuation: $color-beige;

.json {
  flex-wrap: wrap;

  &__container {
    color: $color-text-default;
    font-family: $font-family;
    border-left: 1px solid $color-border;
    margin-top: 1rem;
    padding: 1rem;
    width: $width-input-area;

    .dynamic-json.with-punctuation {
      .json__comma {
        display: inline-flex;
      }

      .json__object > div {
        &:last-child {
          > .json__pair > .json__comma {
            display: none;
          }
        }
      }

      .json__array > div {
        &:last-child {
          > .json__value--array-item > .json__comma {
            display: none;
          }
        }
      }

      .json__parentheses,
      .json__square-bracket {
        &--left {
          display: inline-flex;
        }

        &--right {
          &:after {
            content: none;
          }
        }
      }

      .json__pair {
        .json__colon {
          &:after {
            content: none;
          }
        }

        &--no-children {
          .json__value {
            &:after {
              content: none;
            }
          }
        }
      }
      
      .json__pair {
        display: inline-flex;
    
        &---button {
          color: $color-text-clickable;
        }
         
        .json__colon {
          color: $color-punctuation;
    
          &:after {
            content: '';
          }
        }
    
        &--no-children {
          .json__value {
            &:after {
              content: none;
            }
          }
        }
    
        &--object,
        &--array {
          > .json__key-value > .json__colon {
            &:after {
              content: none;
            }
          }
        }
    
        &--array {
          > .json__key-value > .json__colon {
            &:after {
              content: none;
            }
          }
        }
      }
    }
  }

  &__key {
    line-height: $line-height;
    color: $color-property;
    display: inline-flex;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
  }

  &__comma {
    display: inline-flex;
    line-height: $line-height;
    padding-left: 0
  }

  &__value {
    color: $color-value;
    line-height: $line-height;
    display: inline-flex;
    padding-left: 0;

    &--boolean {
      color: $color-greener;
    }

    &--null {
      color: $color-red;
    }

    &--array-item {
      display: inline-flex;
    }
  }

  &__comma {
    display: none;
  }

  &__array,
  &__object {
    display: flex;
    flex-direction: column;
  }

  &__object-container,
  &__array-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 2rem;
  }

  &__key-value {
    display: flex-inline;
    padding: 0;

    &:not(:last-child) {
      display: inline-block;
    }

    &:first-child {
      display: inline-flex;
    }

    &:last-child {
      display: inline-flex;
    }

    > span {
      font-size: 1em;

      &.json__object-container,
      &.json__array-container {
        display: flex;
        flex-wrap: wrap;
      }
    }

    line-height: $line-height;
  
    .json__array,
    .json__object {
      flex-direction: column;
      display: inline-flex;
    }
  }

  &__colon {
    margin-right: 0.5em;
  }

  &__parentheses,
  &__square-bracket {
    color: $color-punctuation;
    display: flex;
    width: 100%;

    &:last-child {
      display: inline-flex;
    }

    &--left {
      display: none;
    }

    &--right {
      display: inline;

      &:after {
        content: ', ';
      }
    }
  }

  &__parentheses--right {
    margin-left: -2rem;
  }

  > .json__object-container {
    margin-left: 0;

    > .json__parentheses--left,
    > .json__square-bracket--left {
      display: flex;
    }

    > .json__parentheses--right,
    > .json__square-bracket--right {
      margin-left: 0;

      &:after {
        content: '';
      }
    }

    > .json__object {
      margin-left: 2rem;
    }
  }

  .json__array > .json__value > .json__object-container {
    .json__parentheses--left {
      display: flex;
    }

    > .json__parentheses--right {
      margin-left: 0em;
    }
  }

  .json__pair > .json__value > .json__array-container {
    margin-left: 0;

    > .json__array {
      margin-left: 2rem;

      > .json__value > .json__object-container {
        margin-left: 0rem;

        > .json__object {
          margin-left: 2rem;
        }
      }
    }
  }
 
  &__pair {
    display: inline-flex;

    &---button {
      color: $color-text-clickable;
    }
     
    .json__colon {
      color: $color-punctuation;

      &:after {
        content: '';
      }
    }

    &--no-children {
      .json__value {
        &:after {
          content: ',';
        }
      }
    }

    &--object,
    &--array {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      line-height: $line-height;
      padding: 0 $padding-between-properties 0 0;

      > .json__key-value > .json__colon {
        color: $color-punctuation;

        &:after {
          content: '{';
          color: $color-punctuation;
        }
      }
    }

    &--array {
      > .json__key-value > .json__colon {
        &:after {
          content: '[';
        }
      }
    }
  }
}