$line-height: 1.4em;

.json {
  flex-wrap: wrap;

  &__container {
    color: $color-text-default;
    font-family: $font-family;
    border-left: 1px solid $color-border;
    margin-top: 1rem;
    padding: 1rem;
    width: $width-input-area;
  }

  &__parentheses,
  &__square-bracket {
    display: flex;
    width: 100%;
  }

  &__key-value {
    padding: 0;

    &:not(:last-child) {
      display: inline-block;
    }

    &:first-child {
      display: inline-block;
    }

    &:last-child {
      display: inline-block;
    }
  }

  $padding-between-properties: 0.5em / 2; 

  &__key {
    line-height: $line-height;
    color: $color-property;
    display: inline-flex;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
  }

  &__comma {
    display: inline-flex;
    line-height: $line-height;
    padding-left: 0
  }

  &__value {
    color: $color-value;
    line-height: $line-height;
    display: inline-flex;
    padding-left: 0;

    &--boolean {
      color: $color-greener;
    }

    &--null {
      color: $color-red;
    }

    &--array-item {
      display: inline;
    }
  }

  &__array,
  &__object {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  span {
    display: flex;
  }

  &__key-value {
    > span {
      display: inline; 
      font-size: 1em;
    }

    line-height: $line-height;

    .json__array,
    .json__object {
      flex-direction: column;
      display: flex;
    }
  }

  &__parentheses,
  &__square-bracket {
    display: flex;
  }

  &__pair {
    display: flex-inline;

    &--object,
    &--array {
      display: block;
      line-height: $line-height;
      padding: 0 $padding-between-properties 0 0;
    }
  }
}