$content-width: calc(100% - 2rem);
.content--no-first-letter {
  margin-top: 2rem;
  width: $width-base-content;

  .input-area__textarea {
    width: $content-width;
    padding: 1rem;
  }

  .source-code {
    background-color: transparent;
    border: 1px solid transparent;
    border: none;
    justify-self: flex-start;
    margin: 0;
    padding: 1rem;
    width: $content-width
  }
}
