$line-height: 1.4em;
$padding-between-properties: 0.5em / 2; 
$color-punctuation: $color-beige;

.json {
  flex-wrap: wrap;

  &__container {
    color: $color-text-default;
    font-family: $font-family;
    border-left: 1px solid $color-border;
    margin-top: 1rem;
    padding: 1rem;
    width: $width-input-area;

    .editable-json {
      .json__value {
        &--editable {
          cursor: pointer;
        }

        &--edited {
          color: $color-text-edited;
          cursor: auto;
          border-bottom: 1px solid $color-beige; 
          outline: unset;
        }
      }
    }
  }

  &__key {
    line-height: $line-height;
    color: $color-property;
    display: inline-flex;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
  }

  &__comma {
    display: inline-flex;
    line-height: $line-height;
    padding-left: 0
  }

  &__value {
    color: $color-value;
    line-height: $line-height;
    display: inline-flex;
    padding-left: 0;

    &--boolean {
      color: $color-greener;
    }

    &--null {
      color: $color-red;
    }

    &--array-item {
      display: inline-flex;

      .json__comma {
        display: inline-flex;
      }
    }

    &--key.json__value {
      @extend .json__key;
    }
  }

  &__comma {
    display: none;
  }

  &__array,
  &__object {
    display: flex;
    flex-direction: column;
  }

  &__array {
    div {
      &:last-child {
        > .json__value--array-item > .json__comma {
          display: none;
        }
      }
    }

    .json__object-container {
      .json__parentheses {
        margin-left: -2rem;
      }
    }

    > .json__comma {
      display: none;
    }

    > div > .json__value--array-item > .json__value {
      &:after {
        content: ','
      }
    }
  }

  &__object > div > .json__pair > .json__comma {
    display: none;
  } 

  &__object-container,
  &__array-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 2rem;
  }

  &__object-container {
    > .json__object {
      > .json__comma {
        display: none;
      }
    }
  }

  &__key-value {
    display: flex-inline;
    padding: 0;

    &:not(:last-child) {
      display: inline-block;
    }

    &:first-child {
      display: inline-flex;
    }

    &:last-child {
      display: inline-flex;
    }

    > span {
      font-size: 1em;

      &.json__object-container,
      &.json__array-container {
        display: flex;
        flex-wrap: wrap;
      }
    }

    line-height: $line-height;
  
    .json__array,
    .json__object {
      flex-direction: column;
      display: inline-flex;
    }
  }

  &__colon {
    margin-right: 0.5em;
  }

  &__parentheses,
  &__square-bracket {
    color: $color-punctuation;
    display: flex;
    width: 100%;

    &:last-child {
      display: inline-flex;
    }

    &--left {
      display: none;
    }

    &--right {
      display: inline;

      &:after {
        content: ', ';
      }
    }
  }

  &__square-bracket--right,
  &__parentheses--right {
    margin-left: -2rem;
  }

  &__square-bracket--right {
    &:after {
      content: ',';
    }
  }

  > .json__object-container {
    margin-left: 0;

    > .json__parentheses--left,
    > .json__square-bracket--left {
      display: flex;
    }

    > .json__parentheses--right,
    > .json__square-bracket--right {
      margin-left: 0;

      &:after {
        content: '';
      }
    }

    > .json__object {
      margin-left: 2rem;
    }
  }

  .json__array > .json__value > .json__object-container {
    .json__parentheses--left {
      display: flex;
    }
  }

  .json__pair > .json__value > .json__array-container {
    margin-left: 0;

    > .json__array {
      margin-left: 2rem;

      > .json__value > .json__object-container {
        margin-left: 0rem;

        > .json__object {
          margin-left: 2rem;
        }
      }
    }
  }
 
  &__pair {
    display: inline-flex;

    &---button {
      color: $color-text-clickable;
    }
     
    .json__colon {
      color: $color-punctuation;

      &:after {
        content: '';
      }
    }
    
    &--no-children {
      .json__value {
        &:after {
          content: ',';
        }
      
        &.json__key:after {
          content: none;
        }
      }
    }

    &--object,
    &--array {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      line-height: $line-height;
      padding: 0 $padding-between-properties 0 0;

      > .json__key-value > .json__colon {
        color: $color-punctuation;

        &:after {
          content: '{';
          color: $color-punctuation;
        }
      }
    }

    &--array {
      > .json__key-value > .json__colon {
        &:after {
          content: '[';
        }
      }

      > div {
        > .json__value--array-item {
          > .json__comma {
            display: none;
          } 
        }
      }
    }
  }
}

@import 'dynamic-json.scss';
