.browsable-content {
  display: flex;
  flex-wrap: wrap;
  width: $width-max;
  justify-content: center;
  position: relative;

  &__content {
    display: flex;
    width: $width-max;
    justify-content: center;
    margin-bottom: $margin-bottom-content;
  }
}