@import './variables.scss';

.code-generation {
  display: flex;

  em {
    color: $color-text-emphasis; 
  }

  strong {
    font-weight: bold;
    color: $color-text-bold;
  }

  code {
    font-family: $font-family-code;
    color: $color-text-bold;
  }
}