@import './variables.scss';

.dictionary {
  color: $color-text-default;
  font-family: $font-family;
  border: 1px solid $color-border;
  background-color: $color-background;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
  }

  &__key-value {
    padding: 0 1em;

    &:not(:last-child) {
      display: inline-block;

      &:after {
        content: ',';
      }
    }

    &:first-child {
      display: inline-block;
      padding-left: 1em;
      margin-top: 1em;

      &:before {
        padding-top: 1em;
        content: '{' '\a';
        white-space: pre;
      }
    }

    &:last-child {
      display: inline-block;
      margin-bottom: 1em;

      &:after {
        content: '\a' '}';
        white-space: pre;
        margin-right: 1em;
      }
    }
  }

  $padding-between-properties: 0.5em / 2; 

  &__key {
    line-height: 1em;
    color: $color-property;
    display: inline-flex;
    font-weight: bold;
    padding: $padding-between-properties;
    padding-right: 0;

    &:before {
      content: ' ';
      white-space: pre;
    }

    &:after {
      content: ':';
      white-space: pre;
    }
  }

  &__value {
    color: $color-value;
    line-height: 1em;
    display: inline-flex;
    padding: $padding-between-properties 0;

    &--string {
      &:before,
      &:after {
        content: '"';
      }
    }
  }
}
