.navigation-menu {
  &__container {
    width: 100%;
    display: flex;
    position: relative;
  } 

  &__header {
    background-color: $color-background-menu;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 2;
    max-height: $height-menu;
    height: $height-menu;
    flex-wrap: wrap;
    width: $width-menu;
    border-top: 10px dotted $color-border-menu;
    border-right: 10px dotted $color-border-menu;
  }

  &__fadeable-enter-active,
  &__fadeable-leave-active {
    transition: opacity 1s;
  }

  &__fadeable-enter,
  &__fadeable-leave-to {
    opacity: 0;
  }

  &__overlay {
    display: block;
    height: 5rem;
    margin-top: -5rem;
    opacity: 0.5;
    background: linear-gradient(0deg, $color-background-menu, $color-background-menu, 50%, transparent);
    width: 100%;

    &--right {
      background: linear-gradient(90deg, $color-background-menu, $color-background-menu, 50%, transparent);
      height: 100%;
      margin-right: -5rem;
      opacity: 0.5;
      position: absolute;
      right: 0;
      width: 5rem;
      z-index: 3;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: $color-text;
    font-family: $font-family-menu;
    font-size: 1.2em;
    list-style-type: none;
    position: relative;
    width: auto;
  }

  &__direction {
    color: $color-button-menu;
    margin-right: 1rem;
    transform: rotate(90deg);
    display: inline-block;
    line-height: 1rem;

    &--open {
      transform: rotate(-90deg);
    }

    &--right {
      margin-right: auto;
      margin-left: 1rem;
    }
  }

  &__button {
    background-color: $color-background-menu;
    border: 1px solid $color-border-menu;
    border-radius: 15px;
    font-size: 2rem;
    color: $color-button-menu;
    cursor: pointer;
    opacity: 0.8;
    outline: none;
    padding: 1rem;
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    z-index: 3;
    text-align: center;
    width: 300px;
  }

  &__sub-menu {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
  }
 
  &__sub-menu-item,
  &__menu-item {
    display: flex;
    color: $color-text-clickable;
    cursor: pointer;
    text-decoration: underline;
    padding: 1rem;
    font-size: $font-size-menu-item;
    line-height: $font-size-menu-item;
    height: $font-size-menu-item;

    &-sub-menu {
      display: flex;
      justify-content: center;
    }

    &:last-child {
      border: none;
    }

    &--active {
      color: $color-text-active;
      text-decoration: none;
      cursor: default;
      font-weight: bold;
    }
  }
 
  &__sub-menu-item {
    font-size: $font-size-submenu-item;
  }

  &__titles-introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__introduction {
    display: flex;
    align-self: center;
    width: $width-base-content;
  }

  &__subtitle,
  &__title {
    display: flex;
    color: $color-text-title;
    font-family: $font-family-title;
    height: 40px; 
    margin-left: 0;
    margin-bottom: 1rem;
    align-self: center;
    justify-content: flex-end;
  }

  &__subtitle {
    color: $color-text-title;
    font-family: $font-family-title;
    font-size: 1.2em;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 0;

    &:last-child {
      margin-top: 0;
    }
  }
}