.navigation-menu {
  &__container {
    width: 100%;
    position: relative;
    display: inline-block;
  } 

  &__header {
    display: flex;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid $color-border-menu;
    position: relative;
  }

  &__menu {
    border: 0;
    display: inline-flex;
    margin: 1rem 0 0 0;
    padding: 0;
    color: $color-text;
    font-family: $font-family-menu;
    font-size: 1.5em;
    list-style-type: none;
  }

  &__sub-menu-item,
  &__menu-item {
    color: $color-text-clickable;
    cursor: pointer;
    text-decoration: underline;
    border-right: 1px solid $color-border-menu;
    padding: 1rem;

    &:last-child {
      border: none;
    }

    &--active {
      color: $color-text-active;
      text-decoration: none;
      cursor: default;
      font-weight: bold;
      border-bottom: 4px solid $color-border-menu;

      &:last-child {
        border-bottom: 4px solid $color-border-menu;
      }
    }
  }
 
  &__sub-menu {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 5rem;
    left: 0;
  }
 
  &__sub-menu-item {
    font-size: 1.1rem;
  }

  &__titles {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
  }

  &__subtitle,
  &__title {
    display: flex;
    color: $color-text-title;
    font-family: $font-family-title;
    height: 40px; 
    margin-left: 0;
    margin-bottom: 1rem;
    align-self: center;
    justify-content: flex-end;
  }

  &__subtitle {
    color: $color-text-title;
    font-family: $font-family-title;
    font-size: 1.2em;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}