.navigation-menu {
  &__container {
    width: 100%;
    display: flex;
    position: relative;
  }

  &__header {
    background-color: $color-background-menu;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 2;
    max-height: $height-menu;
    height: $height-menu;
    flex-wrap: wrap;
    width: $width-menu;
    border-top: 1px dotted $color-border-menu;
    margin-left: -1em;
  }
  
  &__fadeable-enter-active,
  &__fadeable-leave-active {
    transition: opacity 1s;
  }

  &__fadeable-enter,
  &__fadeable-leave-to {
    opacity: 0;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: $color-text;
    font-family: $font-family-menu;
    font-size: 1.2em;
    list-style-type: none;
    position: relative;
    width: auto;
  }

  &__toggle-menu-icon {
    display: flex;
  }

  &__button {
    background-color: $color-background-menu;
    border: none;
    display: flex;
    font-size: 0.8rem;
    height: 2.5rem;
    justify-content: space-evenly;
    color: $color-button-menu;
    cursor: pointer;
    opacity: 0.8;
    outline: none;
    padding: 0.2rem;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;

    &-label {
      margin-right: 1rem;
      margin-left: 1rem;
      width: 200px;
    }
  }

  &__sub-menu {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200%;
  }
 
  &__sub-menu-item,
  &__menu-item {
    display: flex;
    color: $color-text-clickable;
    cursor: pointer;
    text-decoration: underline;
    padding: 1rem;
    font-size: $font-size-menu-item;
    line-height: $font-size-menu-item;
    height: $font-size-menu-item;

    &-sub-menu {
      display: flex;
      justify-content: center;
    }

    &:last-child {
      border: none;
    }

    &--active {
      color: $color-text-active;
      text-decoration: none;
      cursor: default;
      font-weight: bold;
    }
  }
 
  &__sub-menu-item {
    font-size: $font-size-submenu-item;
  }

  &__titles-introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $margin-top-title;
  }

  &__introduction {
    display: flex;
    align-self: center;
    width: $width-base-content;
  }

  &__subtitle,
  &__title {
    display: flex;
    color: $color-text-title;
    font-family: $font-family-title;
    height: 40px; 
    margin-left: 0;
    margin-bottom: 1rem;
    align-self: center;
    justify-content: flex-end;
  }

  &__title {
    margin-top: 0;
  }

  &__subtitle {
    color: $color-text-title;
    font-family: $font-family-title;
    font-size: 1.2em;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 0;

    &:last-child {
      margin-top: 0;
    }
  }
}