@import './variables.scss';

.question {
  cursor: pointer;
  width: 100%;
  flex-direction: column;
  display: flex;

  &__question {
    margin-bottom: 0;
    width: calc(50% - 2rem);
    align-self: center;
  }

  &__answer {
    color: $color-text-answer; 
    align-self: center;
    width: 400px;

    &:first-letter {
      font-size: 1rem;
    }
  }
}