.question {
  cursor: pointer;
  width: 100%;
  flex-direction: column;
  display: flex;

  &__question {
    margin-bottom: 0;
    width: calc(50% - 2rem);
    align-self: flex-start;
    padding-top: 0;

    &:first-child {
      margin-top: 1rem;
    }
  }

  &__answer {
    color: $color-text-answer; 
    align-self: flex-start;
    width: 400px;
    padding-top: 0;
    padding-bottom: 0;

    &:first-letter {
      font-size: 1rem;
    }
  }
}