@import './variables.scss';

.question {
  cursor: pointer;
  width: 100%;

  &__question {
    margin-bottom: 0;
    width: calc(50% - 2rem);
    text-align: right;
  }

  &__answer {
    color: $color-text-answer; 

    &:first-letter {
      font-size: 1rem;
    }
  }
}