@import './variables.scss';

$break-small-width: 768px;
$break-small-height: 1024px;

.structure-of-a-compiler {
  text-align: center;
  display: flex;

  .structure-of-a-compiler__separator {
    width: 50%;
    margin-bottom: 1rem;
  }

  &__fadeable-enter-active,
  &__fadeable-leave-active {
    transition: opacity 1s;
  }

  &__fadeable-enter,
  &__fadeable-leave-to {
    opacity: 0;
  }    

  &__scrollable {
    position: sticky;
    top: 1em;
    display: block;
    overflow: scroll;
    max-height: 0;

    @media screen and (min-width: $break-small-width) {
      height: 768px;
      overflow: scroll;
      max-height: none;
    }

    @media screen and (min-height: $break-small-height) {
      height: 1024px;
      overflow: scroll;
      max-height: none;
    }
  }

  &__left-column {
    flex: 0.5;
  }
 
  &__right-column {
    flex: 0.5;
    padding-left: 3rem;
    flex-direction: column;
    visibility: hidden;
    position: relative;

    &--visible {
      display: flex;
      visibility: visible;
    }

    &--hidden {
      display: none;
    }
  }

  &__phase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
  }

  &__example {
    border: 1px dotted $color-border-button;
    color: $color-text-button;
    cursor: pointer;
    outline: none;
    font-size: 1.1rem;
    align-self: center;
    background-color: $color-background-button;
    border-radius: 0;
    padding: 1rem;
    margin-bottom: 1rem;

    &:hover {
      border: 1px dotted $color-border-button-highlight;
      color: $color-text-button-highlight;
    }
  }
}
