@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

$color-background: #1e1e1e;

$color-text: #d4d4d4;
$color-textarea: #d4d4d3;
$color-border: #ced4d4;
$color-value: #ce9178;
$color-property: #569CD3;

$font-family: 'Ubuntu Mono', monospace;