@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Niconne);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

$color-background: #1e1e1e;

$color-beige: #d4d4d4;
$color-orange: #ce9178;
$color-green: #b4cea8;

$color-text-default: $color-beige;
$color-text-link: $color-green;
$color-text: $color-orange;
$color-text-active: $color-beige;
$color-text-clickable: $color-green;
$color-textarea: #d4d4d3;
$color-error: #94151b;
$color-border: #ced4d4;
$color-value: #ce9178;
$color-property: #569CD3;

$font-family: 'Ubuntu Mono', monospace;
$font-family-menu: Dosis, sans-serif;
$font-family-title: 'Libre Baskerville', serif;
$font-family-paragraph: Roboto, sans-serif;
$font-family-cursive: 'Libre Baskerville', serif;