@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

$background-color: #1e1e1e;

$color-text: #d4d4d4;
$color-border: #ced4d4;
$color-value: #ce9178;
$color-property: #569CD3;

$font-family: 'Ubuntu Mono', monospace;