$box-width: calc(100% - 12px);

.box {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-self: center;
  color: $color-text-default;
  border: 1px solid $color-border-box;
  font-family: $font-family-code;
  font-size: 1.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: $box-width;
  background-color: transparent;
  outline: none;
  border-radius: 0;

  &__container {
    display: flex;
    width: $box-width;
  }

  &__translatable-enter-active,  
  &__translatable-leave-active {
    transition: opacity 1s;
  }
  
  &__translatable-enter, 
  &__translatable-leave-to {
    opacity: 0;
  }

  &__highlighted {
    cursor: pointer;
    border-color: $color-border-box-highlight;
    color: $color-border-box-highlight;

    &:hover {
      border-color: $color-border-box-highlight;
      color: $color-border-box-highlight;
    }
  }

  &__highlightable {
    border: 1px solid $color-border-box !important;
    color: $color-text-default !important;
    cursor: pointer;

    &:hover {
      border-color: $color-border-box-highlight !important;
      color: $color-border-box-highlight !important;
    }
  }

  &__arrow {
    display: flex;
    align-self: center;
    margin-top: -1rem;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid $color-border-box-highlight;
  }
}