.json-editor {
  .json__panels {
    display: flex;
    flex-direction: row;
  }

  .editable-json,
  .dynamic-json {
    min-width: 500px;

    .json__pair---button {
      cursor: pointer;
      border: none;
      display: none;
      outline: unset;
      background-color: transparent;
      font-size: 1rem;
    }
  }

  .editable-json.editable-json--ready {
    .json__pair---button {
      display: inline;
    }
  }
}