.json-parser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;

  .dictionaries {
    flex-direction: row;
    display: flex;

    .dictionary-container {
      flex: 0.5;
    }
  }

  .input-area {
    height: 20rem;
    margin-bottom: 1rem;
  }

  .input-area__textarea {
    height: calc(20em - 2rem);
    width: 728px;
  } 

  .source-code {
    position: absolute;
    top: 23em;    
  }

  .json__container,
  .dictionary-container {
    display: flex;
    min-width: calc(#{$width-base-content} - 2rem);
    width: auto;
  }
}