.json-parser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;

  .dictionaries {
    flex-direction: row;
    display: flex;

    .dictionary-container {
      flex: 0.5;
    }
  }

  .input-area {
    height: 20rem;
    margin-bottom: 1rem;
  }

  .input-area__textarea {
    height: calc(20em - 2rem);
    width: 728px;
  } 

  .multimedia-content {
    width: auto;
  }

  .source-code {
    color: $color-text-error;
    top: 23em;
    white-space: normal;

    &--color-clickable {
      border: 1px solid $color-text-clickable;
      color: $color-text-clickable;
      width: auto;
    } 
  }

  .json__container,
  .dictionary-container {
    display: flex;
    min-width: calc(#{$width-base-content} - 2rem);
    width: auto;
  }

  &__input {
    display: flex;
  }

  &__button {
    color: $color-text-clickable;
    cursor: pointer;
    display: flex;
    font-size: 10rem;
    flex-direction: column;
    margin-left: 2rem;
    justify-self: center;
    align-self: center;

    &-label {
      font-size: 1rem;
      margin-top: 2rem;
    }
  }

  &__icon-copy {
    align-self: center;
    color: $color-text-clickable;
    cursor: pointer; 
    display: flex;
    font-size: 10rem;
    justify-content: flex-end;
    margin-left: 2rem;
    margin-bottom: 2rem;

    &--disabled {
      opacity: 0.5;
    }
  }
}