.about {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $margin-bottom-content;
  }

  &__left-column {
    display: flex;
    flex: 0.5;
    flex-shrink: 0;
    justify-content: flex-end;
  }

  &__right-column {
    display: flex;
    flex: 0.5;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  &__example {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    top: 3rem;
    position: sticky;    
  }
}