.introduction {
  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    margin-bottom: $margin-bottom-content;
  }

  &__question-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: $width-base-content;
    margin: auto;
  }

  &__subtitle {
    color: $color-text-title;
    font-family: $font-family-title;
    font-size: 1.2em;
    padding-left: 1rem;
    display: flex;
    align-self: center;
  }
}