.multimedia-content {
  display: flex;
  flex-direction: column;
  height: auto;
  width: $width-base-content;

  h3 {
    display: block;
    font-family: $font-family-title;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
  }
    
  em {
    color: $color-text-emphasis; 
  }

  &__paragraph {
    &.paragraph {
      white-space: normal;
      text-align: left;
      padding: 1rem;
      
      &:first-letter {
        margin-left: 1rem;
      }

      &:first-child {
        margin-bottom: 0;
      }

      &:not(:first-child) {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
      }
    }
  }

  br {
    margin-bottom: 1rem;
    display: block;
    content: ' ';  
  }
}