.structure-of-a-compiler {
  display: flex;
  justify-content: center;
  width: calc(100% - (50% - #{$width-box}));

  .structure-of-a-compiler__separator {
    width: 50%;
    margin-bottom: 1rem;
  }

  &__fadeable-enter-active,
  &__fadeable-leave-active {
    transition: opacity 1s;
  }

  &__fadeable-enter,
  &__fadeable-leave-to {
    opacity: 0;
  }    

  &__scrollable {
    height: calc(#{$height-menu} - #{$margin-bottom-title} - #{$height-title});
    bottom: 0;
    display: block;
    overflow: scroll;
    overflow-y: scroll;
    position: fixed;
    z-index: 3;
  }

  &__left-column {
    display: flex;
    flex: 0.5;
    flex-wrap: wrap;
    justify-content: center;
    max-width: $width-box;
  }
 
  &__right-column {
    flex: 0.5;
    padding-left: 3rem;
    flex-direction: column;
    visibility: hidden;
    position: relative;

    &--visible {
      display: flex;
      visibility: visible;
    }

    &--hidden {
      display: none;
    }
  }

  &__phase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $width-box;
  }

  &__example {
    border: 1px dotted $color-border-button;
    color: $color-text-button;
    cursor: pointer;
    outline: none;
    font-size: 1.1rem;
    align-self: center;
    background-color: $color-background-button;
    border-radius: 0;
    padding: 1rem;
    margin-bottom: 1rem;

    &:hover {
      border: 1px dotted $color-border-button-highlight;
      color: $color-text-button-highlight;
    }
  }
}
